/* Text ----------------------------------------------------------------------- */

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/regular-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/xbold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/xbold-italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaText';
  src: url('/fonts/text/black-italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


/* Display -------------------------------------------------------------------- */

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/regular-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/xbold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/xbold-italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaDisplay';
  src: url('/fonts/display/black-italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
