/* Fields --------------------------------------------------------------------- */

.field {
  @apply .appearance-none .block .text-black .w-full .mb-6 .p-4 .bg-transparent
         .border-2 .border-grey-light;
  transition-property: color, background-color, border-color;
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.field::placeholder {
  @apply .text-grey-dark .opacity-100;
}

.field:focus {
  @apply .outline-none .bg-white .border-blue;
}

.field.valid {
  @apply .border-green-light;
}

.field.invalid {
  @apply .border-red;
}

.field-error {
  @apply .text-red-dark .font-semibold .-mt-4 .mb-6 .px-1;
}
