@tailwind preflight;
@tailwind utilities;
@tailwind components;

body {
  @apply .font-sans .leading-normal .subpixel-antialiased;
}

strong {
  @apply .font-bold;
}

.tag {
  @apply .inline-block .text-grey-darkest .text-xs .font-semibold .mr-2 .mb-2 .px-2 .py-1 .bg-grey-light .rounded-sm;
}

.btn {
  transition-property: color, background-color, border-color;
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  @apply .inline-block .text-sm .text-white .font-semibold .no-underline .py-2 .px-2 .mr-2 .mb-2 border-2 .border-transparent .rounded;
}

@screen md {
  .btn {
    @apply .text-base .px-4;
  }
}

@screen lg {
  .btn {
    @apply .px-4;
  }
}

.btn-blue {
  @apply .bg-blue-dark;
}

.btn-blue:hover, .btn-blue:focus {
  @apply .bg-blue-darker;
}

.btn-outline-grey {
  @apply .text-grey-darker .border-grey;
}

.btn-outline-grey:hover, .btn-outline-grey:focus {
  @apply .text-black .bg-grey;
}

.external-link {
  transition-property: color, background-color, box-shadow;
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  @apply .flex .items-center .justify-center .text-white .w-10 .h-10 .bg-grey .rounded-full .m-2;
}

.external-link:hover, .external-link:focus, .external-link:active {
  @apply .bg-grey-darkest .shadow-md;
}

.transition {
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.transition-bg {
  transition-property: background-color;
}

.transition-color {
  transition-property: color;
}

.transition-transform {
  transition-property: transform;
}

.screenshot-overlay {
  @apply .absolute .pin .flex .justify-center .items-center .opacity-0;
  background-color: color(config('colors.black') a(80%));
  transition: opacity 260ms ease-in-out;
  z-index: 1;
}

.screenshot:hover .screenshot-overlay {
  @apply .opacity-100;
}

