@tailwind preflight;
@tailwind utilities;
@tailwind components;

body {
  @apply .font-sans .leading-normal .subpixel-antialiased;
}

.text-white-dark {
  color: config('colors.white-dark');
}

.label {
  @apply .inline-block .bg-grey-lighter .rounded-full .px-3 .py-1 .text-sm .font-semibold .text-grey-darker .mr-2 .mb-2;
}

.btn {
  @apply .inline-block .text-sm .text-white .font-semibold .no-underline .py-2 .px-3 .mr-2 .mb-2 .border-2 .border-transparent .rounded;
}

@screen md {
  .btn {
    @apply .text-base .py-2 .px-3;
  }
}

@screen lg {
  .btn {
    @apply px-4;
  }
}

.btn-indigo {
  @apply .bg-indigo;
}

.btn-indigo:hover, .btn-indigo:focus {
  @apply .bg-indigo-dark;
}

.btn-outline-grey {
  @apply .text-grey .border-grey;
}

.btn-outline-grey:hover, .btn-outline-grey:focus {
  @apply .text-black .bg-grey .border-transparent;
}

.transition {
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.transition-bg {
  transition-property: background-color;
}

.transition-color {
  transition-property: color;
}

.transition-transform {
  transition-property: transform;
}

.browser-transform {
  transform-origin: top center;
  transform: scale(0.9) perspective(3000px) rotateY(-24deg) rotateX(4deg) rotate(1deg);
}

.browser-scroll {
  /* animation-duration: 10s;
  animation-delay: 1s;
	animation-name: browserScroll;
	animation-timing-function: cubic-bezier(1.000, 0.005, 0.305, 1.000);
  animation-direction: alternate;
  animation-iteration-count: infinite; */
}

@keyframes browserScroll {
	10% {
    transform: translateY(0%);
  }

	100% {
	  transform: translateY(calc(-100% + 51vh));
	}
}

.challenge {
  @apply .block .text-grey-darkest .text-base .leading-tight .px-6 .py-4 .border-grey-lighter .border-solid .border-t;
}

.hobbies div:not(:last-child) {
  @apply .mr-8;
}

.hobby {
  @apply .block .text-white .text-base .leading-tight .py-3 .border-blue-darker .border-solid .border-t .overflow-hidden;
}
