@import "tailwindcss/base";
@import "tailwindcss/utilities";

@import "_badges.css";
@import "_buttons.css";
@import "_fonts.css";
@import "_labels.css";

@import "tailwindcss/components";

/* Sections ------------------------------------------------------------------- */

body {
  @apply .font-sans .leading-normal .subpixel-antialiased;
}

strong {
  @apply .font-bold;
}

h1, h2, h3, h4 {
  @apply .font-heading .antialiased;
}

.btn-transition {
  transition-property: color, background-color, border-color, box-shadow, opacity;
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.transition {
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.transition-fast {
  transition-duration: 120ms;
  transition-timing-function: linear;
}

.transition-bg {
  transition-property: background-color;
}

.transition-color {
  transition-property: color;
}

.transition-transform {
  transition-property: transform;
}

.screenshot-overlay {
  @apply .absolute .inset-0 .flex .justify-center .items-center .opacity-0;
  background-color: color(theme('colors.white') a(90%));
  transition: opacity 260ms ease-in-out;
  z-index: 1;
}

.screenshot:hover .screenshot-overlay, .screenshot-overlay:focus-within {
  @apply .opacity-100;
}

.challenge {
  @apply .block .text-gray-800 .text-base .leading-tight .px-6 .py-4 .border-gray-200 .border-solid .border-t;
}

.step {
  @apply .appearance-none .block .w-8 .h-3 .ml-1 .mr-1 .border-2
         .border-gray-300 .rounded-full .cursor-pointer .btn-transition;
}

@screen lg {
  .step {
    @apply .w-4 .h-4;
  }
}

.step.active {
  @apply .bg-teal-500 .border-teal-500 .cursor-default .outline-none;
}

.step:focus:not(.active), .step:hover:not(.active) {
  @apply .bg-gray-500 .border-gray-500 .outline-none;
}
